@media screen and (min-width: 800px){#content {
    max-width: 1600px;
    margin: 0 auto;
}
    .hero{
        
        height: auto;
        margin: 0 auto;
        width: 100vw;
    }
    html{
        background-color: #4083e1;
        color:white;
        
    }
    h1, h3, p{
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
    .center{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    h1{
        font-size: 200%;
    }
    header{
        padding-top: 30px;
    }
    .navbar {
        display:grid;
        grid-template-columns: repeat(5, auto);
        gap:10px;
        list-style: none;
        padding: 0;
        margin: 0;        
        
    }
    .navbar a {
        
        padding:1rem;
        text-align: left;
        text-decoration: none;
        color: white;
    

    }
    .navbar a:hover, .navbar a:active {
        color: white;
        background-color: #1a55a7;
    }
    #mode {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
        font-size: 2rem;
    }
    main {
        margin: 0;
        
        padding: 1rem;
        width: auto;
        
    }
    #temperature, #windspeed, #windchill{
        color:yellow;
        
    }
    .weather{
        font-size: 1.2em;
    }
 

    .hero img {
        width: 100%;
        height: auto;
      }
      .hamburger{
        display: none;
      }
      #visitMessage {
        font-size: 1.2em;
        color: white;
        background-color: #1a55a7;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        margin: 20px auto;
        width: 80%;
        max-width: 400px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr; /* Sidebar and main content ratio */
        grid-template-rows: auto 1fr auto; /* Header, content, footer */
        
        height: 100vh;
    }

}